@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/Oswald-Light.ttf) format('ttf');
}

@font-face {
    font-family: 'Ravi Prakash';
    src: url('../../fonts/8EzbM7Rymjk25jWeHxbO6C3USBnSvpkopQaUR-2r7iU.ttf') format('truetype');
}
@font-face {
    font-family: 'Oswald-Light';
    src: url('../../fonts/Oswald-Light.ttf') format('truetype');
}