
<div class="row messageRow">
    <div class="alert alert-warning">
        <span class="userName"><span>@Model.UserName</span></span>
        <span class="wremya">@Model.DateTime</span>
        <br>
        <br>
        <span class="message">@Model.Message</span>

    </div>
</div>